
  /*---------------------------------------
    RESPONSIVE STYLES               
  -----------------------------------------*/
  @media screen and (min-width: 1025px) {
    .job-featured-section .job-thumb {
      max-width: 1120px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 991px) {
    .google-map {
      height: 100%;
    }
  }
  
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 48px;
    }
  
    h2 {
      font-size: 36px;
    }
  
    h3 {
      font-size: 32px;
    }
  
    h4 {
      font-size: 28px;
    }
  
    h5 {
      font-size: 20px;
    }
  
    h6 {
      font-size: 18px;
    }
  
    .section-padding,
    .cta-section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .about-page .about-section {
      padding-top: 50px;
    }
  
    .custom-btn {
      padding: 12px 20px;
    }
  
    .navbar-collapse {
      padding-bottom: 20px;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 10px;
    }
  
    .navbar-expand-lg .navbar-nav .nav-link.custom-btn {
      margin-top: 10px;
    }
  
    .page-link {
      font-size: 12px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin-right: 5px;
      margin-left: 5px;
    }
  
    .custom-text-block {
      padding: 50px 30px;
    }
  
    .hero-section {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    .badge {
      margin-top: 5px;
    }
  
    .counter-number, 
    .counter-number-text {
      font-size: var(--h2-font-size);
    }
  
    .custom-border-radius-start {
      border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
    }
  
    .custom-border-radius-end {
      border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);
    }
  
    .job-body p {
      font-size: var(--btn-font-size);
    }
  
    .job-location {
      min-width: 140px;
    }
  
    .job-price {
      min-width: inherit;
      margin-top: 5px;
      margin-left: 0;
    }
  
    .hero-form button[type="submit"] {
      margin-bottom: 0;
    }
  
    .site-footer {
      padding-top: 50px;
    }
  
    .site-footer-bottom {
      margin-top: 50px;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 28px;
    }
  
    h3 {
      font-size: 26px;
    }
  
    h4 {
      font-size: 22px;
    }
  
    h5 {
      font-size: 20px;
    }
  
    .badge {
      margin: 10px 10px 5px 0;
    }
  
    .page-link {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  
    .counter-thumb {
      margin: 10px;
    }
  
    .counter-number, 
    .counter-number-text {
      font-size: var(--h3-font-size);
    }
  
    .job-date {
      margin-top: 5px;
    }
  
    .job-detail-share {
      margin: 20px auto 0 auto;
    }
  }
  
  .login-bg img {
    filter: blur(6px);
    width: 100%;
  }

  .login-form {
    width: 70%;
    height: 550px;
    background-image: url(../images/login-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form .login {
    display: block;
    height: 550px;
    width: 40%;
    backdrop-filter: blur(20px);
    /* background-color: var(--secondary-color); */
    text-align: center;
  }
  
  .login-form h2 {
    padding: 40px;
  }

  .login-form .form-group {
    color: var(--white-color);
    padding: 12px;
    width: 100%;
  }

  .login-form .form-group input[type="text"],
  .login-form .form-group input[type="password"] {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
  }
  
  .login-form .form-group input::placeholder {
    color: var(--white-color);
  }

  .login-form .form-group a {
    padding-left: 80px;
    color: var(--secondary-color);
    position: relative;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
  }

  .login-form .form-group a::after {
    content: "";
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 46%;
    transform: translateX(-5%);
    background-color: #0dcaf0;
    /* transition: width .6s cubic-bezier(.25,.8,.25,1) 0s; */
  }

  .login-form .form-group a:hover::after {
    width: 100px;
    transform: scaleX(1);
    transform-origin: left;
  }

